.dataSet{
    display:flex;
    justify-content: space-evenly;
    
    margin: 5% 5%;
    background: rgba(228, 235, 235, 0.5);
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 12.0px );
        -webkit-backdrop-filter: blur( 12.0px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.leader{
    margin: 5% 10%;
    background: rgba( 200, 212, 212, 0.50 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 12.0px );
        -webkit-backdrop-filter: blur( 12.0px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.Graph{
    padding: 10px 10px;
    width:250px;
    height: 280px;
}
.listItem{
    background-color: beige;
}